<p>welcome to {{ hotelName }}</p>
<p [hidden]="hideRooms">
  we have <span [innerText]="numberOfRooms"></span> rooms available
</p>
<button (click)="toggle()">hide rooms</button>

<div *ngIf="rooms.availableRooms > 0" class="container">
  <p>rooms available: {{ rooms.availableRooms }}</p>
  <p>Booked rooms: {{ rooms.bookedRooms }}</p>

  <div *ngIf="rooms$ | async as showRooms">
    <hinv-room-list
      [rooms]="showRooms"
      (selectedRoom)="showSelected($event)"
    ></hinv-room-list>
  </div>
</div>

<button (click)="addRoom()" class="btn btn-warning btn-sm">+</button>
<button (click)="editRoom()" class="btn btn-primary btn-sm ms-4">Edit</button>

<div *ngIf="selectedRoom">
  <p>{{ selectedRoom | json }}</p>
</div>


  <ul>
    <li>{{roomsCount$ | async}}</li>
  </ul>

